In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import *

In [74]:
spark = SparkSession.builder.appName('Partitioning').master('local[*]').enableHiveSupport().config("spark.sql.catalogImplementation","hive").getOrCreate()

In [75]:
emp_df = spark.read.csv('file:///home/jovyan/work/HR-Dataset/core_dataset.csv',header=True,inferSchema=True)

### Catalog

In [47]:
spark.catalog.listCatalogs() # Catalog -> database

[CatalogMetadata(name='spark_catalog', description=None)]

In [42]:
spark.catalog.currentCatalog()

'spark_catalog'

In [43]:
# create table employee (
#     emp_id int NOT NULL,
#     name string,
#     dept string
# )

schema = StructType([
    StructField('emp_id',IntegerType(),False),
    StructField('name',StringType(),False),
    StructField('dept',StringType(),False),
])

# spark.sql('''
# create table employee (
#     emp_id int NOT NULL,
#     name string,
#     dept string
# )
# ''')

In [44]:
spark.catalog.createTable('employee',schema=schema)

DataFrame[emp_id: int, name: string, dept: string]

In [41]:
spark.catalog.listTables()

[]

In [33]:
# spark.catalog.dropGlobalTempView('employee')

False

In [51]:
tbl = spark.catalog.getTable('employee')

### createOrReplaceTempView

In [79]:
# emp_df -> dataFrame 
# emp_tbl -> tempView

emp_df.createOrReplaceTempView('emp_tbl')

### spark.sql

In [80]:
spark.sql('select * from emp_tbl limit 5').show()

+--------------------+---------------+-----+------+----------+---+------+-----------+-----------+---------------+--------------------+------------+-------------------+--------------------+-----------------+-------------+--------------------+--------+------------------+--------------------+--------------------+
|       Employee Name|Employee Number|State|   Zip|       DOB|Age|   Sex|MaritalDesc|CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|Employment Status|   Department|            Position|Pay Rate|      Manager Name|     Employee Source|   Performance Score|
+--------------------+---------------+-----+------+----------+---+------+-----------+-----------+---------------+--------------------+------------+-------------------+--------------------+-----------------+-------------+--------------------+--------+------------------+--------------------+--------------------+
|          Brown, Mia|     1103024456|   MA|1450.0|11/24/1985| 32|Female|    Married| US Citizen|             No|Black or African ...|  10/27/2008|               NULL|N/A - still employed|           Active|Admin Offices|        Accountant I|    28.5|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
|LaRotonda, William  |     1106026572|   MA|1460.0| 4/26/1984| 33|  Male|   Divorced| US Citizen|             No|Black or African ...|    1/6/2014|               NULL|N/A - still employed|           Active|Admin Offices|        Accountant I|    23.0|Brandon R. LeBlanc|  Website Banner Ads|         Fully Meets|
|    Steans, Tyrone  |     1302053333|   MA|2703.0|  9/1/1986| 31|  Male|     Single| US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|           Active|Admin Offices|        Accountant I|    29.0|Brandon R. LeBlanc|     Internet Search|         Fully Meets|
|     Howard, Estelle|     1211050782|   MA|2170.0| 9/16/1985| 32|Female|    Married| US Citizen|             No|               White|   2/16/2015|          4/15/2015|N/A - still employed|           Active|Admin Offices|Administrative As...|    21.5|Brandon R. LeBlanc|Pay Per Click - G...|N/A- too early to...|
|         Singh, Nan |     1307059817|   MA|2330.0| 5/19/1988| 29|Female|     Single| US Citizen|             No|               White|    5/1/2015|               NULL|N/A - still employed|           Active|Admin Offices|Administrative As...|   16.56|Brandon R. LeBlanc|  Website Banner Ads|N/A- too early to...|
+--------------------+---------------+-----+------+----------+---+------+-----------+-----------+---------------+--------------------+------------+-------------------+--------------------+-----------------+-------------+--------------------+--------+------------------+--------------------+--------------------+

In [56]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
+---------+

In [64]:
spark.sql('show tables').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default| employee|      false|
|         |  emp_tbl|       true|
+---------+---------+-----------+

In [59]:
spark.sql('create database emp_db').show()

++
||
++
++

In [60]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
|   emp_db|
+---------+

In [65]:
spark.sql('use database emp_db').show()

++
||
++
++

In [62]:
spark.sql('show tables').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|         |  emp_tbl|       true|
+---------+---------+-----------+

In [66]:
spark.sql('''
create table emp_db.employee (
    emp_id int NOT NULL,
    name string,
    dept string,
    salary double
)
''')

DataFrame[]

In [67]:
spark.sql('show tables').show()

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|   emp_db| employee|      false|
|         |  emp_tbl|       true|
+---------+---------+-----------+

In [68]:
spark.sql('''
insert into emp_db.employee (emp_id, name, dept, salary) values (1, 'John', 'Sales', 100000)
''')

DataFrame[]

In [71]:
spark.sql('select * from employee').show()

+------+----+-----+--------+
|emp_id|name| dept|  salary|
+------+----+-----+--------+
|     1|John|Sales|100000.0|
+------+----+-----+--------+

In [72]:
spark.sql('select * from default.employee').show()

+------+----+----+
|emp_id|name|dept|
+------+----+----+
+------+----+----+

In [73]:
spark.stop()

In [78]:
spark.sql('select * from emp_db.employee').show()

+------+----+-----+--------+
|emp_id|name| dept|  salary|
+------+----+-----+--------+
|     1|John|Sales|100000.0|
+------+----+-----+--------+

In [81]:
spark.sql('''
select count(*) from emp_tbl where Sex='Male' and Age between 25 and 30 and MaritalDesc in ('Single', 'Seperated', 'Divorced')
''').show()

+--------+
|count(1)|
+--------+
|      11|
+--------+

In [85]:
# emp_df.withColumn('First_name', split(col('Employee Name'),', ').getItem(0)).\
# withColumn('Last_name', split(col('Employee Name'),', ').getItem(1)).\
# withColumn('new_pay_rate', col('Pay Rate')*1.1 ).\
# select('First_name','Last_name','new_pay_rate','Department').show()

spark.sql('''
select 
split(`Employee Name` , ', ')[0] as first_name,
split(`Employee Name` , ', ')[1] as last_name,
`Pay Rate` * 1.1 as new_pay_rate,
Department
from emp_tbl
''').show()

+------------+----------+------------------+----------------+
|  first_name| last_name|      new_pay_rate|      Department|
+------------+----------+------------------+----------------+
|       Brown|       Mia|             31.35|   Admin Offices|
|   LaRotonda| William  |              25.3|   Admin Offices|
|      Steans|  Tyrone  |31.900000000000002|   Admin Offices|
|      Howard|   Estelle|23.650000000000002|   Admin Offices|
|       Singh|      Nan |            18.216|   Admin Offices|
|       Smith| Leigh Ann|             22.55|   Admin Offices|
|     LeBlanc|Brandon  R| 60.50000000000001|   Admin Offices|
|       Quinn|      Sean| 60.50000000000001|   Admin Offices|
|    Boutwell|   Bonalyn| 38.44500000000001|   Admin Offices|
|Foster-Baker|       Amy| 38.44500000000001|   Admin Offices|
|        King|     Janet|              88.0|Executive Office|
|      Zamora|  Jennifer|              71.5|           IT/IS|
|      Becker|     Renee|47.300000000000004|           IT/IS|
|       Goble|    Taisha|             53.35|           IT/IS|
|   Hernandez|    Daniff| 44.11000000000001|           IT/IS|
|      Horton|     Jayne|37.400000000000006|           IT/IS|
|     Johnson|   Noelle |              44.0|           IT/IS|
|      Murray|    Thomas|39.050000000000004|           IT/IS|
|     Pearson|   Randall|              45.1|           IT/IS|
|   Petrowsky|    Thelma|47.025000000000006|           IT/IS|
+------------+----------+------------------+----------------+
only showing top 20 rows

In [90]:
ddl = spark.sql('show create table emp_db.employee').first()['createtab_stmt']
print(ddl)

CREATE TABLE emp_db.employee (
  emp_id INT NOT NULL,
  name STRING,
  dept STRING,
  salary DOUBLE)
USING text
TBLPROPERTIES (
  'transient_lastDdlTime' = '1703262655')

In [101]:
df = spark.table('emp_db.employee').withColumn('hike', lit(None).cast('double'))

df.write.mode('overwrite').option('overwriteSchema','true').saveAsTable('emp_db.employee2')