In [76]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, split

In [2]:
spark = SparkSession.builder.appName('Dataframes').master('local[*]').getOrCreate()

In [14]:
schema = StructType(
    [
        StructField('id',IntegerType(),False),
        StructField('name',StringType(),True),
        StructField('dept',StringType(),True),
    ]
)

In [15]:
create table employee (
    id int NOT NULL,
    name string,
    dept string
)

SyntaxError: invalid syntax (4195466400.py, line 1)

In [20]:
d = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]

In [24]:
spark.createDataFrame(d).show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  3|  bob|
| cse|  4|alice|
+----+---+-----+

In [29]:
spark.createDataFrame([1,2,3]).show()

TypeError: SparkSession.createDataFrame() got an unexpected keyword argument 'columns'

# reading

In [31]:
spark.read.csv('HR-Dataset/core_dataset.csv',header=True).show()

+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|       Employee Name|Employee Number|State|       Zip|       DOB|Age|   Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|   Employment Status|      Department|            Position|Pay Rate|      Manager Name|     Employee Source|   Performance Score|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|          Brown, Mia|     1103024456|   MA|     01450|11/24/1985| 32|Female|    Married|         US Citizen|             No|Black or African ...|  10/27/2008|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   28.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
|LaRotonda, William  |     1106026572|   MA|     01460| 4/26/1984| 33|  Male|   Divorced|         US Citizen|             No|Black or African ...|    1/6/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   23.00|Brandon R. LeBlanc|  Website Banner Ads|         Fully Meets|
|    Steans, Tyrone  |     1302053333|   MA|02703     |  9/1/1986| 31|  Male|     Single|         US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   29.00|Brandon R. LeBlanc|     Internet Search|         Fully Meets|
|     Howard, Estelle|     1211050782|   MA|     02170| 9/16/1985| 32|Female|    Married|         US Citizen|             No|               White|   2/16/2015|          4/15/2015|N/A - still employed|              Active|   Admin Offices|Administrative As...|   21.50|Brandon R. LeBlanc|Pay Per Click - G...|N/A- too early to...|
|         Singh, Nan |     1307059817|   MA|02330     | 5/19/1988| 29|Female|     Single|         US Citizen|             No|               White|    5/1/2015|               NULL|N/A - still employed|              Active|   Admin Offices|Administrative As...|   16.56|Brandon R. LeBlanc|  Website Banner Ads|N/A- too early to...|
|    Smith, Leigh Ann|     0711007713|   MA|01844     | 6/14/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   9/26/2011|          9/25/2013|       career change|Voluntarily Termi...|   Admin Offices|Administrative As...|   20.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
| LeBlanc, Brandon  R|     1102024115|   MA|     01460| 6/10/1984| 33|  Male|    Married|         US Citizen|             No|               White|    1/5/2016|               NULL|N/A - still employed|              Active|   Admin Offices|Shared Services M...|   55.00|        Janet King|         Monster.com|         Fully Meets|
|         Quinn, Sean|     1206043417|   MA|     02045| 11/6/1984| 33|  Male|    Married|Eligible NonCitizen|             No|Black or African ...|   2/21/2011|          8/15/2015|       career change|Voluntarily Termi...|   Admin Offices|Shared Services M...|   55.00|        Janet King|  Diversity Job Fair|         Fully Meets|
|   Boutwell, Bonalyn|     1307060188|   MA|     02468|  4/4/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   2/16/2015|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Brandon R. LeBlanc|  Diversity Job Fair|        90-day meets|
|   Foster-Baker, Amy|     1201031308|   MA|02050     | 4/16/1979| 38|Female|    Married|         US Citizen|             no|               White|    1/5/2009|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Board of Directors|               Other|         Fully Meets|
|         King, Janet|     1001495124|   MA|01902     | 9/21/1954| 63|Female|    Married|         US Citizen|            Yes|               White|    7/2/2012|               NULL|N/A - still employed|              Active|Executive Office|     President & CEO|   80.00|Board of Directors|Pay Per Click - G...|         Fully Meets|
|    Zamora, Jennifer|     1112030816|   MA|02067     | 8/30/1979| 38|Female|     Single|         US Citizen|             No|               White|   4/10/2010|               NULL|N/A - still employed|              Active|           IT/IS|                 CIO|   65.00|        Janet King|   Employee Referral|         Exceptional|
|       Becker, Renee|     1102024056|   MA|02026     |  4/4/1986| 31|Female|     Single|         US Citizen|            Yes|               White|    7/7/2014|          9/12/2015|         performance|Terminated for Cause|           IT/IS|Database Administ...|   43.00|        Simon Roup|Search Engine - G...|         Fully Meets|
|       Goble, Taisha|     0905013738|   MA|02127     |10/23/1971| 46|Female|     Single|         US Citizen|             No|               White|   2/16/2015|          3/15/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   48.50|        Simon Roup|           Glassdoor|         Fully Meets|
|   Hernandez, Daniff|     1410071156|   MA|01960     |  8/7/1986| 31|  Male|    Married|         US Citizen|             No|Black or African ...|   2/16/2015|          2/22/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   40.10|        Simon Roup|   Employee Referral|N/A- too early to...|
|       Horton, Jayne|     1105025718|   MA|     02493| 2/21/1984| 33|Female|     Single|         US Citizen|             No|               White|   3/30/2015|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   34.00|        Simon Roup|           Glassdoor|N/A- too early to...|
|    Johnson, Noelle |     1003018246|   MA|02301     | 11/7/1986| 31|Female|    Married|         US Citizen|             No|               Asian|    1/5/2015|               NULL|N/A - still employed|    Leave of Absence|           IT/IS|Database Administ...|   40.00|        Simon Roup|           Glassdoor|        90-day meets|
|      Murray, Thomas|     1406068403|   TX|78230     |  7/4/1988| 29|  Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   35.50|        Simon Roup|  Diversity Job Fair|         Exceptional|
|    Pearson, Randall|     1102023965|   MA|02747     |  9/5/1984| 33|  Male|    Married|         US Citizen|             No|               White|   12/1/2014|           5/1/2016|         performance|Voluntarily Termi...|           IT/IS|Database Administ...|   41.00|        Simon Roup|   Employee Referral|         Fully Meets|
|   Petrowsky, Thelma|     1108027853|   MA|     01886| 9/16/1984| 33|Female|    Married|         US Citizen|             No|               Asian|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   42.75|        Simon Roup|   Employee Referral|         Exceptional|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
only showing top 20 rows

In [43]:
spark.read.option('header','true').csv('HR-Dataset/core_dataset.csv',inferSchema=True).dtypes

[('Employee Name', 'string'),
 ('Employee Number', 'int'),
 ('State', 'string'),
 ('Zip', 'double'),
 ('DOB', 'string'),
 ('Age', 'int'),
 ('Sex', 'string'),
 ('MaritalDesc', 'string'),
 ('CitizenDesc', 'string'),
 ('Hispanic/Latino', 'string'),
 ('RaceDesc', 'string'),
 ('Date of Hire', 'string'),
 ('Date of Termination', 'string'),
 ('Reason For Term', 'string'),
 ('Employment Status', 'string'),
 ('Department', 'string'),
 ('Position', 'string'),
 ('Pay Rate', 'double'),
 ('Manager Name', 'string'),
 ('Employee Source', 'string'),
 ('Performance Score', 'string')]

In [35]:
spark.read.option('header','true').format('csv').load('./HR-Dataset/core_dataset.csv').show()

+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|       Employee Name|Employee Number|State|       Zip|       DOB|Age|   Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|   Employment Status|      Department|            Position|Pay Rate|      Manager Name|     Employee Source|   Performance Score|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|          Brown, Mia|     1103024456|   MA|     01450|11/24/1985| 32|Female|    Married|         US Citizen|             No|Black or African ...|  10/27/2008|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   28.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
|LaRotonda, William  |     1106026572|   MA|     01460| 4/26/1984| 33|  Male|   Divorced|         US Citizen|             No|Black or African ...|    1/6/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   23.00|Brandon R. LeBlanc|  Website Banner Ads|         Fully Meets|
|    Steans, Tyrone  |     1302053333|   MA|02703     |  9/1/1986| 31|  Male|     Single|         US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   29.00|Brandon R. LeBlanc|     Internet Search|         Fully Meets|
|     Howard, Estelle|     1211050782|   MA|     02170| 9/16/1985| 32|Female|    Married|         US Citizen|             No|               White|   2/16/2015|          4/15/2015|N/A - still employed|              Active|   Admin Offices|Administrative As...|   21.50|Brandon R. LeBlanc|Pay Per Click - G...|N/A- too early to...|
|         Singh, Nan |     1307059817|   MA|02330     | 5/19/1988| 29|Female|     Single|         US Citizen|             No|               White|    5/1/2015|               NULL|N/A - still employed|              Active|   Admin Offices|Administrative As...|   16.56|Brandon R. LeBlanc|  Website Banner Ads|N/A- too early to...|
|    Smith, Leigh Ann|     0711007713|   MA|01844     | 6/14/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   9/26/2011|          9/25/2013|       career change|Voluntarily Termi...|   Admin Offices|Administrative As...|   20.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
| LeBlanc, Brandon  R|     1102024115|   MA|     01460| 6/10/1984| 33|  Male|    Married|         US Citizen|             No|               White|    1/5/2016|               NULL|N/A - still employed|              Active|   Admin Offices|Shared Services M...|   55.00|        Janet King|         Monster.com|         Fully Meets|
|         Quinn, Sean|     1206043417|   MA|     02045| 11/6/1984| 33|  Male|    Married|Eligible NonCitizen|             No|Black or African ...|   2/21/2011|          8/15/2015|       career change|Voluntarily Termi...|   Admin Offices|Shared Services M...|   55.00|        Janet King|  Diversity Job Fair|         Fully Meets|
|   Boutwell, Bonalyn|     1307060188|   MA|     02468|  4/4/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   2/16/2015|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Brandon R. LeBlanc|  Diversity Job Fair|        90-day meets|
|   Foster-Baker, Amy|     1201031308|   MA|02050     | 4/16/1979| 38|Female|    Married|         US Citizen|             no|               White|    1/5/2009|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Board of Directors|               Other|         Fully Meets|
|         King, Janet|     1001495124|   MA|01902     | 9/21/1954| 63|Female|    Married|         US Citizen|            Yes|               White|    7/2/2012|               NULL|N/A - still employed|              Active|Executive Office|     President & CEO|   80.00|Board of Directors|Pay Per Click - G...|         Fully Meets|
|    Zamora, Jennifer|     1112030816|   MA|02067     | 8/30/1979| 38|Female|     Single|         US Citizen|             No|               White|   4/10/2010|               NULL|N/A - still employed|              Active|           IT/IS|                 CIO|   65.00|        Janet King|   Employee Referral|         Exceptional|
|       Becker, Renee|     1102024056|   MA|02026     |  4/4/1986| 31|Female|     Single|         US Citizen|            Yes|               White|    7/7/2014|          9/12/2015|         performance|Terminated for Cause|           IT/IS|Database Administ...|   43.00|        Simon Roup|Search Engine - G...|         Fully Meets|
|       Goble, Taisha|     0905013738|   MA|02127     |10/23/1971| 46|Female|     Single|         US Citizen|             No|               White|   2/16/2015|          3/15/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   48.50|        Simon Roup|           Glassdoor|         Fully Meets|
|   Hernandez, Daniff|     1410071156|   MA|01960     |  8/7/1986| 31|  Male|    Married|         US Citizen|             No|Black or African ...|   2/16/2015|          2/22/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   40.10|        Simon Roup|   Employee Referral|N/A- too early to...|
|       Horton, Jayne|     1105025718|   MA|     02493| 2/21/1984| 33|Female|     Single|         US Citizen|             No|               White|   3/30/2015|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   34.00|        Simon Roup|           Glassdoor|N/A- too early to...|
|    Johnson, Noelle |     1003018246|   MA|02301     | 11/7/1986| 31|Female|    Married|         US Citizen|             No|               Asian|    1/5/2015|               NULL|N/A - still employed|    Leave of Absence|           IT/IS|Database Administ...|   40.00|        Simon Roup|           Glassdoor|        90-day meets|
|      Murray, Thomas|     1406068403|   TX|78230     |  7/4/1988| 29|  Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   35.50|        Simon Roup|  Diversity Job Fair|         Exceptional|
|    Pearson, Randall|     1102023965|   MA|02747     |  9/5/1984| 33|  Male|    Married|         US Citizen|             No|               White|   12/1/2014|           5/1/2016|         performance|Voluntarily Termi...|           IT/IS|Database Administ...|   41.00|        Simon Roup|   Employee Referral|         Fully Meets|
|   Petrowsky, Thelma|     1108027853|   MA|     01886| 9/16/1984| 33|Female|    Married|         US Citizen|             No|               Asian|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   42.75|        Simon Roup|   Employee Referral|         Exceptional|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
only showing top 20 rows

In [44]:
spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv').dtypes

[('Employee Name', 'string'),
 ('Employee Number', 'int'),
 ('State', 'string'),
 ('Zip', 'double'),
 ('DOB', 'string'),
 ('Age', 'int'),
 ('Sex', 'string'),
 ('MaritalDesc', 'string'),
 ('CitizenDesc', 'string'),
 ('Hispanic/Latino', 'string'),
 ('RaceDesc', 'string'),
 ('Date of Hire', 'string'),
 ('Date of Termination', 'string'),
 ('Reason For Term', 'string'),
 ('Employment Status', 'string'),
 ('Department', 'string'),
 ('Position', 'string'),
 ('Pay Rate', 'double'),
 ('Manager Name', 'string'),
 ('Employee Source', 'string'),
 ('Performance Score', 'string')]

# DataFrame Operations

In [85]:
emp_df = spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv')

In [55]:
emp_df.count()

302

In [59]:
# where & filter
emp_df.where(col('State')=='TX').count()

3

In [58]:
emp_df.where(col('State')!='TX').count()

298

In [62]:
emp_df.filter(col('State')=='TX').show()

+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+
|  Employee Name|Employee Number|State|    Zip|      DOB|Age| Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|Employment Status|Department|            Position|Pay Rate| Manager Name|   Employee Source|   Performance Score|
+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+
| Murray, Thomas|     1406068403|   TX|78230.0| 7/4/1988| 29|Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|           Active|     IT/IS|Database Administ...|    35.5|   Simon Roup|Diversity Job Fair|         Exceptional|
|Martins, Joseph|     1209048771|   TX|78207.0|6/11/1970| 47|Male|     Single|Eligible NonCitizen|             No|Black or African ...|   5/14/2012|               NULL|N/A - still employed|           Active|     Sales|  Area Sales Manager|    56.0|Lynn Daneault| Employee Referral|         Fully Meets|
|  McKinzie, Jac|     1209049326|   TX|78789.0| 7/1/1984| 33|Male|    Married|         US Citizen|             No|   Two or more races|    7/6/2016|               NULL|N/A - Has not sta...|     Future Start|     Sales|  Area Sales Manager|    55.0|Lynn Daneault|Website Banner Ads|N/A- too early to...|
+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+

In [75]:
# select count(*) from emp where Sex='Male' and Age between 25 and 30 and MaritalDesc in ('Single', 'Seperated', 'Divorced')
emp_df.where( 
    (col('Sex')=='Male') & 
    (col('Age')<=30) & 
    (col('Age')>=25) & 
    ((col('MaritalDesc')=='Single') | (col('MaritalDesc')=='Seperated') | (col('MaritalDesc')=='Divorced'))
).count()

11

### withColumn

In [87]:
emp_df.withColumn('First_name', split(col('Employee Name'),', ').getItem(0)).\
withColumn('Last_name', split(col('Employee Name'),', ').getItem(1)).\
withColumn('new_pay_rate', col('Pay Rate')*1.1 ).\
select('First_name','Last_name','new_pay_rate','Department').show()

+------------+----------+------------------+----------------+
|  First_name| Last_name|      new_pay_rate|      Department|
+------------+----------+------------------+----------------+
|       Brown|       Mia|             31.35|   Admin Offices|
|   LaRotonda| William  |              25.3|   Admin Offices|
|      Steans|  Tyrone  |31.900000000000002|   Admin Offices|
|      Howard|   Estelle|23.650000000000002|   Admin Offices|
|       Singh|      Nan |            18.216|   Admin Offices|
|       Smith| Leigh Ann|             22.55|   Admin Offices|
|     LeBlanc|Brandon  R| 60.50000000000001|   Admin Offices|
|       Quinn|      Sean| 60.50000000000001|   Admin Offices|
|    Boutwell|   Bonalyn| 38.44500000000001|   Admin Offices|
|Foster-Baker|       Amy| 38.44500000000001|   Admin Offices|
|        King|     Janet|              88.0|Executive Office|
|      Zamora|  Jennifer|              71.5|           IT/IS|
|      Becker|     Renee|47.300000000000004|           IT/IS|
|       Goble|    Taisha|             53.35|           IT/IS|
|   Hernandez|    Daniff| 44.11000000000001|           IT/IS|
|      Horton|     Jayne|37.400000000000006|           IT/IS|
|     Johnson|   Noelle |              44.0|           IT/IS|
|      Murray|    Thomas|39.050000000000004|           IT/IS|
|     Pearson|   Randall|              45.1|           IT/IS|
|   Petrowsky|    Thelma|47.025000000000006|           IT/IS|
+------------+----------+------------------+----------------+
only showing top 20 rows

In [88]:
emp_df = emp_df.withColumn('First_name', split(col('Employee Name'),', ').getItem(0)).\
withColumn('Last_name', split(col('Employee Name'),', ').getItem(1)).\
withColumn('new_pay_rate', col('Pay Rate')*1.1 ).\
select('First_name','Last_name','new_pay_rate','Department')

In [92]:
emp_df.write.format('csv').mode('append').save('emp_df.csv')

In [93]:
spark.read.csv('emp_df.csv').count()

604

In [96]:
emp_df.write.mode('overwrite').csv('emp_df.csv')

In [95]:
spark.read.csv('emp_df.csv').count()

302