In [129]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, split, trim, lower, to_date, current_date

In [2]:
spark = SparkSession.builder.appName('Dataframes').master('local[*]').getOrCreate()

In [20]:
d = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]

In [24]:
spark.createDataFrame(d).show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  3|  bob|
| cse|  4|alice|
+----+---+-----+

In [104]:
schema = StructType(
    [
        StructField('id',IntegerType(),False),
        StructField('name',StringType(),True),
        StructField('dept',StringType(),True),
    ]
)

In [132]:
emp_df = emp_df.withColumn('date_of_birth',
    to_date(col('DOB'), 'D/m/y')
).withColumn(
    'age', current_date() - to_date(col('DOB'), 'D/m/y')
)

In [128]:
spark.sql('''
select current_date()
''').show()

+--------------+
|current_date()|
+--------------+
|    2023-12-20|
+--------------+