In [129]:
from pyspark.sql import SparkSession
from pyspark.sql.types import *
from pyspark.sql.functions import col, split, trim, lower, to_date, current_date

In [2]:
spark = SparkSession.builder.appName('Dataframes').master('local[*]').getOrCreate()

In [15]:
# create table employee (
#     id int NOT NULL,
#     name string,
#     dept string
# )

SyntaxError: invalid syntax (4195466400.py, line 1)

In [20]:
d = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]

In [24]:
spark.createDataFrame(d).show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  3|  bob|
| cse|  4|alice|
+----+---+-----+

In [29]:
spark.createDataFrame([1,2,3]).show()

TypeError: SparkSession.createDataFrame() got an unexpected keyword argument 'columns'

# reading

In [31]:
spark.read.csv('HR-Dataset/core_dataset.csv',header=True).show()

+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|       Employee Name|Employee Number|State|       Zip|       DOB|Age|   Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|   Employment Status|      Department|            Position|Pay Rate|      Manager Name|     Employee Source|   Performance Score|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|          Brown, Mia|     1103024456|   MA|     01450|11/24/1985| 32|Female|    Married|         US Citizen|             No|Black or African ...|  10/27/2008|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   28.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
|LaRotonda, William  |     1106026572|   MA|     01460| 4/26/1984| 33|  Male|   Divorced|         US Citizen|             No|Black or African ...|    1/6/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   23.00|Brandon R. LeBlanc|  Website Banner Ads|         Fully Meets|
|    Steans, Tyrone  |     1302053333|   MA|02703     |  9/1/1986| 31|  Male|     Single|         US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   29.00|Brandon R. LeBlanc|     Internet Search|         Fully Meets|
|     Howard, Estelle|     1211050782|   MA|     02170| 9/16/1985| 32|Female|    Married|         US Citizen|             No|               White|   2/16/2015|          4/15/2015|N/A - still employed|              Active|   Admin Offices|Administrative As...|   21.50|Brandon R. LeBlanc|Pay Per Click - G...|N/A- too early to...|
|         Singh, Nan |     1307059817|   MA|02330     | 5/19/1988| 29|Female|     Single|         US Citizen|             No|               White|    5/1/2015|               NULL|N/A - still employed|              Active|   Admin Offices|Administrative As...|   16.56|Brandon R. LeBlanc|  Website Banner Ads|N/A- too early to...|
|    Smith, Leigh Ann|     0711007713|   MA|01844     | 6/14/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   9/26/2011|          9/25/2013|       career change|Voluntarily Termi...|   Admin Offices|Administrative As...|   20.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
| LeBlanc, Brandon  R|     1102024115|   MA|     01460| 6/10/1984| 33|  Male|    Married|         US Citizen|             No|               White|    1/5/2016|               NULL|N/A - still employed|              Active|   Admin Offices|Shared Services M...|   55.00|        Janet King|         Monster.com|         Fully Meets|
|         Quinn, Sean|     1206043417|   MA|     02045| 11/6/1984| 33|  Male|    Married|Eligible NonCitizen|             No|Black or African ...|   2/21/2011|          8/15/2015|       career change|Voluntarily Termi...|   Admin Offices|Shared Services M...|   55.00|        Janet King|  Diversity Job Fair|         Fully Meets|
|   Boutwell, Bonalyn|     1307060188|   MA|     02468|  4/4/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   2/16/2015|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Brandon R. LeBlanc|  Diversity Job Fair|        90-day meets|
|   Foster-Baker, Amy|     1201031308|   MA|02050     | 4/16/1979| 38|Female|    Married|         US Citizen|             no|               White|    1/5/2009|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Board of Directors|               Other|         Fully Meets|
|         King, Janet|     1001495124|   MA|01902     | 9/21/1954| 63|Female|    Married|         US Citizen|            Yes|               White|    7/2/2012|               NULL|N/A - still employed|              Active|Executive Office|     President & CEO|   80.00|Board of Directors|Pay Per Click - G...|         Fully Meets|
|    Zamora, Jennifer|     1112030816|   MA|02067     | 8/30/1979| 38|Female|     Single|         US Citizen|             No|               White|   4/10/2010|               NULL|N/A - still employed|              Active|           IT/IS|                 CIO|   65.00|        Janet King|   Employee Referral|         Exceptional|
|       Becker, Renee|     1102024056|   MA|02026     |  4/4/1986| 31|Female|     Single|         US Citizen|            Yes|               White|    7/7/2014|          9/12/2015|         performance|Terminated for Cause|           IT/IS|Database Administ...|   43.00|        Simon Roup|Search Engine - G...|         Fully Meets|
|       Goble, Taisha|     0905013738|   MA|02127     |10/23/1971| 46|Female|     Single|         US Citizen|             No|               White|   2/16/2015|          3/15/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   48.50|        Simon Roup|           Glassdoor|         Fully Meets|
|   Hernandez, Daniff|     1410071156|   MA|01960     |  8/7/1986| 31|  Male|    Married|         US Citizen|             No|Black or African ...|   2/16/2015|          2/22/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   40.10|        Simon Roup|   Employee Referral|N/A- too early to...|
|       Horton, Jayne|     1105025718|   MA|     02493| 2/21/1984| 33|Female|     Single|         US Citizen|             No|               White|   3/30/2015|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   34.00|        Simon Roup|           Glassdoor|N/A- too early to...|
|    Johnson, Noelle |     1003018246|   MA|02301     | 11/7/1986| 31|Female|    Married|         US Citizen|             No|               Asian|    1/5/2015|               NULL|N/A - still employed|    Leave of Absence|           IT/IS|Database Administ...|   40.00|        Simon Roup|           Glassdoor|        90-day meets|
|      Murray, Thomas|     1406068403|   TX|78230     |  7/4/1988| 29|  Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   35.50|        Simon Roup|  Diversity Job Fair|         Exceptional|
|    Pearson, Randall|     1102023965|   MA|02747     |  9/5/1984| 33|  Male|    Married|         US Citizen|             No|               White|   12/1/2014|           5/1/2016|         performance|Voluntarily Termi...|           IT/IS|Database Administ...|   41.00|        Simon Roup|   Employee Referral|         Fully Meets|
|   Petrowsky, Thelma|     1108027853|   MA|     01886| 9/16/1984| 33|Female|    Married|         US Citizen|             No|               Asian|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   42.75|        Simon Roup|   Employee Referral|         Exceptional|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
only showing top 20 rows

In [43]:
spark.read.option('header','true').csv('HR-Dataset/core_dataset.csv',inferSchema=True).dtypes

[('Employee Name', 'string'),
 ('Employee Number', 'int'),
 ('State', 'string'),
 ('Zip', 'double'),
 ('DOB', 'string'),
 ('Age', 'int'),
 ('Sex', 'string'),
 ('MaritalDesc', 'string'),
 ('CitizenDesc', 'string'),
 ('Hispanic/Latino', 'string'),
 ('RaceDesc', 'string'),
 ('Date of Hire', 'string'),
 ('Date of Termination', 'string'),
 ('Reason For Term', 'string'),
 ('Employment Status', 'string'),
 ('Department', 'string'),
 ('Position', 'string'),
 ('Pay Rate', 'double'),
 ('Manager Name', 'string'),
 ('Employee Source', 'string'),
 ('Performance Score', 'string')]

In [35]:
spark.read.option('header','true').format('csv').load('./HR-Dataset/core_dataset.csv').show()

+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|       Employee Name|Employee Number|State|       Zip|       DOB|Age|   Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|   Employment Status|      Department|            Position|Pay Rate|      Manager Name|     Employee Source|   Performance Score|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
|          Brown, Mia|     1103024456|   MA|     01450|11/24/1985| 32|Female|    Married|         US Citizen|             No|Black or African ...|  10/27/2008|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   28.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
|LaRotonda, William  |     1106026572|   MA|     01460| 4/26/1984| 33|  Male|   Divorced|         US Citizen|             No|Black or African ...|    1/6/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   23.00|Brandon R. LeBlanc|  Website Banner Ads|         Fully Meets|
|    Steans, Tyrone  |     1302053333|   MA|02703     |  9/1/1986| 31|  Male|     Single|         US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|              Active|   Admin Offices|        Accountant I|   29.00|Brandon R. LeBlanc|     Internet Search|         Fully Meets|
|     Howard, Estelle|     1211050782|   MA|     02170| 9/16/1985| 32|Female|    Married|         US Citizen|             No|               White|   2/16/2015|          4/15/2015|N/A - still employed|              Active|   Admin Offices|Administrative As...|   21.50|Brandon R. LeBlanc|Pay Per Click - G...|N/A- too early to...|
|         Singh, Nan |     1307059817|   MA|02330     | 5/19/1988| 29|Female|     Single|         US Citizen|             No|               White|    5/1/2015|               NULL|N/A - still employed|              Active|   Admin Offices|Administrative As...|   16.56|Brandon R. LeBlanc|  Website Banner Ads|N/A- too early to...|
|    Smith, Leigh Ann|     0711007713|   MA|01844     | 6/14/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   9/26/2011|          9/25/2013|       career change|Voluntarily Termi...|   Admin Offices|Administrative As...|   20.50|Brandon R. LeBlanc|  Diversity Job Fair|         Fully Meets|
| LeBlanc, Brandon  R|     1102024115|   MA|     01460| 6/10/1984| 33|  Male|    Married|         US Citizen|             No|               White|    1/5/2016|               NULL|N/A - still employed|              Active|   Admin Offices|Shared Services M...|   55.00|        Janet King|         Monster.com|         Fully Meets|
|         Quinn, Sean|     1206043417|   MA|     02045| 11/6/1984| 33|  Male|    Married|Eligible NonCitizen|             No|Black or African ...|   2/21/2011|          8/15/2015|       career change|Voluntarily Termi...|   Admin Offices|Shared Services M...|   55.00|        Janet King|  Diversity Job Fair|         Fully Meets|
|   Boutwell, Bonalyn|     1307060188|   MA|     02468|  4/4/1987| 30|Female|    Married|         US Citizen|             No|               Asian|   2/16/2015|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Brandon R. LeBlanc|  Diversity Job Fair|        90-day meets|
|   Foster-Baker, Amy|     1201031308|   MA|02050     | 4/16/1979| 38|Female|    Married|         US Citizen|             no|               White|    1/5/2009|               NULL|N/A - still employed|              Active|   Admin Offices|      Sr. Accountant|   34.95|Board of Directors|               Other|         Fully Meets|
|         King, Janet|     1001495124|   MA|01902     | 9/21/1954| 63|Female|    Married|         US Citizen|            Yes|               White|    7/2/2012|               NULL|N/A - still employed|              Active|Executive Office|     President & CEO|   80.00|Board of Directors|Pay Per Click - G...|         Fully Meets|
|    Zamora, Jennifer|     1112030816|   MA|02067     | 8/30/1979| 38|Female|     Single|         US Citizen|             No|               White|   4/10/2010|               NULL|N/A - still employed|              Active|           IT/IS|                 CIO|   65.00|        Janet King|   Employee Referral|         Exceptional|
|       Becker, Renee|     1102024056|   MA|02026     |  4/4/1986| 31|Female|     Single|         US Citizen|            Yes|               White|    7/7/2014|          9/12/2015|         performance|Terminated for Cause|           IT/IS|Database Administ...|   43.00|        Simon Roup|Search Engine - G...|         Fully Meets|
|       Goble, Taisha|     0905013738|   MA|02127     |10/23/1971| 46|Female|     Single|         US Citizen|             No|               White|   2/16/2015|          3/15/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   48.50|        Simon Roup|           Glassdoor|         Fully Meets|
|   Hernandez, Daniff|     1410071156|   MA|01960     |  8/7/1986| 31|  Male|    Married|         US Citizen|             No|Black or African ...|   2/16/2015|          2/22/2015|    no-call, no-show|Terminated for Cause|           IT/IS|Database Administ...|   40.10|        Simon Roup|   Employee Referral|N/A- too early to...|
|       Horton, Jayne|     1105025718|   MA|     02493| 2/21/1984| 33|Female|     Single|         US Citizen|             No|               White|   3/30/2015|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   34.00|        Simon Roup|           Glassdoor|N/A- too early to...|
|    Johnson, Noelle |     1003018246|   MA|02301     | 11/7/1986| 31|Female|    Married|         US Citizen|             No|               Asian|    1/5/2015|               NULL|N/A - still employed|    Leave of Absence|           IT/IS|Database Administ...|   40.00|        Simon Roup|           Glassdoor|        90-day meets|
|      Murray, Thomas|     1406068403|   TX|78230     |  7/4/1988| 29|  Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   35.50|        Simon Roup|  Diversity Job Fair|         Exceptional|
|    Pearson, Randall|     1102023965|   MA|02747     |  9/5/1984| 33|  Male|    Married|         US Citizen|             No|               White|   12/1/2014|           5/1/2016|         performance|Voluntarily Termi...|           IT/IS|Database Administ...|   41.00|        Simon Roup|   Employee Referral|         Fully Meets|
|   Petrowsky, Thelma|     1108027853|   MA|     01886| 9/16/1984| 33|Female|    Married|         US Citizen|             No|               Asian|  11/10/2014|               NULL|N/A - still employed|              Active|           IT/IS|Database Administ...|   42.75|        Simon Roup|   Employee Referral|         Exceptional|
+--------------------+---------------+-----+----------+----------+---+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------------+--------------------+--------+------------------+--------------------+--------------------+
only showing top 20 rows

In [44]:
spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv').dtypes

[('Employee Name', 'string'),
 ('Employee Number', 'int'),
 ('State', 'string'),
 ('Zip', 'double'),
 ('DOB', 'string'),
 ('Age', 'int'),
 ('Sex', 'string'),
 ('MaritalDesc', 'string'),
 ('CitizenDesc', 'string'),
 ('Hispanic/Latino', 'string'),
 ('RaceDesc', 'string'),
 ('Date of Hire', 'string'),
 ('Date of Termination', 'string'),
 ('Reason For Term', 'string'),
 ('Employment Status', 'string'),
 ('Department', 'string'),
 ('Position', 'string'),
 ('Pay Rate', 'double'),
 ('Manager Name', 'string'),
 ('Employee Source', 'string'),
 ('Performance Score', 'string')]

# DataFrame Operations

In [24]:
emp_df = spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv')

In [55]:
emp_df.count()

302

In [59]:
# where & filter
emp_df.where(col('State')=='TX').count()

3

In [58]:
emp_df.where(col('State')!='TX').count()

298

In [62]:
emp_df.filter(col('State')=='TX').show()

+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+
|  Employee Name|Employee Number|State|    Zip|      DOB|Age| Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|Employment Status|Department|            Position|Pay Rate| Manager Name|   Employee Source|   Performance Score|
+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+
| Murray, Thomas|     1406068403|   TX|78230.0| 7/4/1988| 29|Male|   Divorced|         US Citizen|             No|Black or African ...|  11/10/2014|               NULL|N/A - still employed|           Active|     IT/IS|Database Administ...|    35.5|   Simon Roup|Diversity Job Fair|         Exceptional|
|Martins, Joseph|     1209048771|   TX|78207.0|6/11/1970| 47|Male|     Single|Eligible NonCitizen|             No|Black or African ...|   5/14/2012|               NULL|N/A - still employed|           Active|     Sales|  Area Sales Manager|    56.0|Lynn Daneault| Employee Referral|         Fully Meets|
|  McKinzie, Jac|     1209049326|   TX|78789.0| 7/1/1984| 33|Male|    Married|         US Citizen|             No|   Two or more races|    7/6/2016|               NULL|N/A - Has not sta...|     Future Start|     Sales|  Area Sales Manager|    55.0|Lynn Daneault|Website Banner Ads|N/A- too early to...|
+---------------+---------------+-----+-------+---------+---+----+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+-----------------+----------+--------------------+--------+-------------+------------------+--------------------+

In [75]:
# select count(*) from emp where Sex='Male' and Age between 25 and 30 and MaritalDesc in ('Single', 'Seperated', 'Divorced')
emp_df.where( 
    (col('Sex')=='Male') & 
    (col('Age')<=30) & 
    (col('Age')>=25) & 
    ((col('MaritalDesc')=='Single') | (col('MaritalDesc')=='Seperated') | (col('MaritalDesc')=='Divorced'))
).count()

11

### withColumn

In [16]:
emp_df.withColumn('First_name', split(col('Employee Name'),', ').getItem(0)).\
withColumn('Last_name', split(col('Employee Name'),', ').getItem(1)).\
withColumn('new_pay_rate', col('Pay Rate')*1.1 ).\
select('First_name','Last_name','new_pay_rate','Department').show()

+------------+----------+------------------+----------------+
|  First_name| Last_name|      new_pay_rate|      Department|
+------------+----------+------------------+----------------+
|       Brown|       Mia|             31.35|   Admin Offices|
|   LaRotonda| William  |              25.3|   Admin Offices|
|      Steans|  Tyrone  |31.900000000000002|   Admin Offices|
|      Howard|   Estelle|23.650000000000002|   Admin Offices|
|       Singh|      Nan |            18.216|   Admin Offices|
|       Smith| Leigh Ann|             22.55|   Admin Offices|
|     LeBlanc|Brandon  R| 60.50000000000001|   Admin Offices|
|       Quinn|      Sean| 60.50000000000001|   Admin Offices|
|    Boutwell|   Bonalyn| 38.44500000000001|   Admin Offices|
|Foster-Baker|       Amy| 38.44500000000001|   Admin Offices|
|        King|     Janet|              88.0|Executive Office|
|      Zamora|  Jennifer|              71.5|           IT/IS|
|      Becker|     Renee|47.300000000000004|           IT/IS|
|       Goble|    Taisha|             53.35|           IT/IS|
|   Hernandez|    Daniff| 44.11000000000001|           IT/IS|
|      Horton|     Jayne|37.400000000000006|           IT/IS|
|     Johnson|   Noelle |              44.0|           IT/IS|
|      Murray|    Thomas|39.050000000000004|           IT/IS|
|     Pearson|   Randall|              45.1|           IT/IS|
|   Petrowsky|    Thelma|47.025000000000006|           IT/IS|
+------------+----------+------------------+----------------+
only showing top 20 rows

In [17]:
emp_df = emp_df.withColumn('First_name', split(col('Employee Name'),', ').getItem(0)).\
withColumn('Last_name', split(col('Employee Name'),', ').getItem(1)).\
withColumn('new_pay_rate', col('Pay Rate')*1.1 ).\
select('First_name','Last_name','new_pay_rate','Department')

In [92]:
emp_df.write.format('csv').mode('append').save('emp_df.csv')

In [93]:
spark.read.csv('emp_df.csv').count()

604

In [96]:
emp_df.write.mode('overwrite').csv('emp_df.csv')

In [95]:
spark.read.csv('emp_df.csv').count()

302

In [4]:
d = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]
student_df = spark.createDataFrame(d)

In [5]:
student_df.show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  3|  bob|
| cse|  4|alice|
+----+---+-----+

In [6]:
student_df.write.csv('student.csv')

In [7]:
d = [
    {'id':5,'name':'julie','dept':'ece'},
    {'id':6,'name':'jisi','dept':'ece'}
]
student_df = spark.createDataFrame(d)

In [8]:
student_df.write.mode('append').csv('student.csv')

In [12]:
d = [
    {'id':1,'name':'mahesh','dept':'cse'},
    {'id':1,'name':'mahesh','dept':'cse'}
]
student_df = spark.createDataFrame(d)

In [13]:
student_df.write.mode('overwrite').csv('student.csv')

In [14]:
emp_df.write.json('emp.json')

In [18]:
emp_df.write.partitionBy('Department').csv('emp_partitioned.csv')

In [28]:
emp_df = spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv')

+--------------------+
|          Department|
+--------------------+
|               Sales|
|   Production       |
|       Admin Offices|
|    Executive Office|
|Software Engineer...|
|Software Engineering|
|               IT/IS|
|                NULL|
+--------------------+

In [32]:
emp_df = emp_df.withColumn('Department', trim(col('Department')))

In [33]:
emp_df.select('Department').distinct().show()

+--------------------+
|          Department|
+--------------------+
|               Sales|
|       Admin Offices|
|          Production|
|    Executive Office|
|Software Engineering|
|               IT/IS|
|                NULL|
+--------------------+

In [29]:
emp_df.select('Position').distinct().show()

+--------------------+
|            Position|
+--------------------+
|IT Manager - Support|
|Software Engineer...|
|    Network Engineer|
|             Sr. DBA|
|Production Techni...|
|Director of Opera...|
|  Production Manager|
|      Sr. Accountant|
|     President & CEO|
|Sr. Network Engineer|
|  IT Manager - Infra|
|        Accountant I|
|Database Administ...|
|Shared Services M...|
|   Director of Sales|
|       Sales Manager|
|  Area Sales Manager|
|                 CIO|
|          IT Support|
|Production Techni...|
+--------------------+
only showing top 20 rows

In [34]:
emp_df.write.mode('overwrite').\
partitionBy('Department','Position').csv('emp_partitioned_2.csv')

In [39]:
emp_df2 = spark.read.csv('emp_partitioned_2.csv')

In [40]:
emp_df2.count()

302

In [41]:
emp_df.columns

['Employee Name',
 'Employee Number',
 'State',
 'Zip',
 'DOB',
 'Age',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'Hispanic/Latino',
 'RaceDesc',
 'Date of Hire',
 'Date of Termination',
 'Reason For Term',
 'Employment Status',
 'Department',
 'Position',
 'Pay Rate',
 'Manager Name',
 'Employee Source',
 'Performance Score']

In [42]:
emp_df = emp_df.withColumnRenamed('Hispanic/Latino','Hispanic_Latino')

In [44]:
emp_df.columns

['Employee Name',
 'Employee Number',
 'State',
 'Zip',
 'DOB',
 'Age',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'Hispanic_Latino',
 'RaceDesc',
 'Date of Hire',
 'Date of Termination',
 'Reason For Term',
 'Employment Status',
 'Department',
 'Position',
 'Pay Rate',
 'Manager Name',
 'Employee Source',
 'Performance Score']

In [47]:
for col in emp_df.columns:
    emp_df = emp_df.withColumnRenamed(col, col.replace(' ','_').replace('/',' '))

In [48]:
emp_df.columns

['Employee_Name',
 'Employee_Number',
 'State',
 'Zip',
 'DOB',
 'Age',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'Hispanic_Latino',
 'RaceDesc',
 'Date_of_Hire',
 'Date_of_Termination',
 'Reason_For_Term',
 'Employment_Status',
 'Department',
 'Position',
 'Pay_Rate',
 'Manager_Name',
 'Employee_Source',
 'Performance_Score']

In [52]:
emp_df = emp_df.drop('Zip', 'DOB')

### Distinct

In [55]:
d = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]
df = spark.createDataFrame(d)

In [56]:
df.show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  4|alice|
| cse|  3|  bob|
| cse|  4|alice|
+----+---+-----+

In [57]:
df.drop_duplicates().show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  4|alice|
| cse|  3|  bob|
+----+---+-----+

In [58]:
df.distinct().show()

+----+---+-----+
|dept| id| name|
+----+---+-----+
| cse|  1| anna|
| cse|  2| john|
| cse|  4|alice|
| cse|  3|  bob|
+----+---+-----+

### Group BY

In [88]:
emp_df = spark.read.option('header','true').option('inferSchema','true').format('csv').load('./HR-Dataset/core_dataset.csv')

In [60]:
emp_df.columns

['Employee Name',
 'Employee Number',
 'State',
 'Zip',
 'DOB',
 'Age',
 'Sex',
 'MaritalDesc',
 'CitizenDesc',
 'Hispanic/Latino',
 'RaceDesc',
 'Date of Hire',
 'Date of Termination',
 'Reason For Term',
 'Employment Status',
 'Department',
 'Position',
 'Pay Rate',
 'Manager Name',
 'Employee Source',
 'Performance Score']

In [61]:
# select sex, min(`Pay Rate`) min_pay_rate, max(`Pay Rate`) max_pay_rate
# from emp
# group by sex

In [62]:
emp_df.groupby('Sex').max('Pay Rate').show()

+------+-------------+
|   Sex|max(Pay Rate)|
+------+-------------+
|  NULL|         NULL|
|Female|         80.0|
|  male|         29.0|
|  Male|         65.0|
+------+-------------+

In [89]:
emp_df = emp_df.withColumn('Department', trim(col('Department')))
emp_df = emp_df.withColumn('Sex', lower(col('Sex')))

In [67]:
emp_df.groupby('Sex').max('Pay Rate').show()

+------+-------------+
|   Sex|max(Pay Rate)|
+------+-------------+
|  NULL|         NULL|
|female|         80.0|
|  male|         65.0|
+------+-------------+

In [68]:
emp_df.groupby('Sex').min('Pay Rate').show()

+------+-------------+
|   Sex|min(Pay Rate)|
+------+-------------+
|  NULL|         NULL|
|female|         14.0|
|  male|         14.0|
+------+-------------+

In [71]:
emp_df.groupby('Sex').count().show()

+------+-----+
|   Sex|count|
+------+-----+
|  NULL|    1|
|female|  174|
|  male|  127|
+------+-----+

## Join

In [73]:
d = [
{'dept_name':'Sales','HOD':'John'},
{'dept_name':'Admin Offices','HOD':'Joshaf'},
{'dept_name':'Production','HOD':'Ram'},
{'dept_name':'Executive Office','HOD':'Vamsi'},
{'dept_name':'Software Engineering','HOD':'Mahesh'},
{'dept_name':'IT/IS','HOD':'Mahesh'}
]

In [90]:
dept_df = spark.createDataFrame(d)

In [91]:
# select * from emp
# left join dept on (emp.Department=dept.dept_name)

emp_df = emp_df.join(dept_df, emp_df['Department']==dept_df['dept_name'],'left')

In [98]:
d1 = [
    {'id':1,'name':'anna','dept':'cse'},
    {'id':2,'name':'john','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'},
    {'id':3,'name':'bob','dept':'cse'},
    {'id':4,'name':'alice','dept':'cse'}
]
df_1 = spark.createDataFrame(d1)

d2 = [
    {'id':1,'name':'mahesh','dept':'cse'},
    {'id':1,'name':'mahesh','dept':'cse'},
    {'name':'mahesh','dept':'cse'},
]
df_2 = spark.createDataFrame(d2)

In [99]:
df_1.union(df_2).show()

+----+----+------+
|dept|  id|  name|
+----+----+------+
| cse|   1|  anna|
| cse|   2|  john|
| cse|   4| alice|
| cse|   3|   bob|
| cse|   4| alice|
| cse|   1|mahesh|
| cse|   1|mahesh|
| cse|NULL|mahesh|
+----+----+------+

In [100]:
df_u = df_1.union(df_2)

In [101]:
df_u.collect()

[Row(dept='cse', id=1, name='anna'),
 Row(dept='cse', id=2, name='john'),
 Row(dept='cse', id=4, name='alice'),
 Row(dept='cse', id=3, name='bob'),
 Row(dept='cse', id=4, name='alice'),
 Row(dept='cse', id=1, name='mahesh'),
 Row(dept='cse', id=1, name='mahesh'),
 Row(dept='cse', id=None, name='mahesh')]

In [103]:
emp_df = emp_df.cache()

In [104]:
schema = StructType(
    [
        StructField('id',IntegerType(),False),
        StructField('name',StringType(),True),
        StructField('dept',StringType(),True),
    ]
)

In [108]:
df_u.withColumn('id_new', col('id').cast('bigint')).describe()

DataFrame[summary: string, dept: string, id: string, name: string, id_new: string]

In [110]:
df_u.select(col('id').alias('identifier'), 'dept').show()

+----------+----+
|identifier|dept|
+----------+----+
|         1| cse|
|         2| cse|
|         4| cse|
|         3| cse|
|         4| cse|
|         1| cse|
|         1| cse|
|      NULL| cse|
+----------+----+

In [132]:
emp_df = emp_df.withColumn('date_of_birth',
    to_date(col('DOB'), 'D/m/y')
).withColumn(
    'age', current_date() - to_date(col('DOB'), 'D/m/y')
)

In [128]:
spark.sql('''
select current_date()
''').show()

+--------------+
|current_date()|
+--------------+
|    2023-12-20|
+--------------+

In [131]:
emp_df.show()

+--------------------+---------------+-----+-------+----------+--------------------+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------+------------------+--------+-------------+--------------------+--------------------+----+---------+-------------+
|       Employee Name|Employee Number|State|    Zip|       DOB|                 age|   Sex|MaritalDesc|        CitizenDesc|Hispanic/Latino|            RaceDesc|Date of Hire|Date of Termination|     Reason For Term|   Employment Status|Department|          Position|Pay Rate| Manager Name|     Employee Source|   Performance Score| HOD|dept_name|date_of_birth|
+--------------------+---------------+-----+-------+----------+--------------------+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------+------------------+--------+-------------+--------------------+--------------------+----+---------+-------------+
|        Buck, Edward|     1504073313|   MA| 2330.0|  7/7/1975|INTERVAL '17879' DAY|  male|    Married|         US Citizen|             No|               White|   9/29/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|   Employee Referral|         Fully Meets|John|    Sales|   1975-01-07|
|    Bunbury, Jessica|     1504073368|   VA|21851.0|  6/1/1964|INTERVAL '21898' DAY|female|    Married|Eligible NonCitizen|             No|Black or African ...|   8/15/2011|           8/2/2014|    Another position|Voluntarily Termi...|     Sales|Area Sales Manager|    55.0|   John Smith|Social Networks -...|         Fully Meets|John|    Sales|   1964-01-06|
|   Carter, Michelle |     1403065721|   VT| 5664.0| 5/15/1963|INTERVAL '22264' DAY|female|     Single|         US Citizen|             No|               White|   8/18/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|   John Smith|           Billboard|         Fully Meets|John|    Sales|   1963-01-05|
|        Costa, Latia|     1409070567|   CA|90007.0| 11/8/1988|INTERVAL '13127' DAY|female|     Single|         US Citizen|             No|               White|   1/10/2011|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|               Other|             Exceeds|John|    Sales|   1988-01-11|
|   Dietrich, Jenna  |     1408069481|   WA|98052.0| 5/14/1987|INTERVAL '13498' DAY|female|     Single|         US Citizen|            Yes|               White|   2/20/2012|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|   John Smith|  Website Banner Ads|                 PIP|John|    Sales|   1987-01-05|
|    Digitale, Alfred|     1306059197|   NH| 3062.0| 9/14/1988|INTERVAL '13129' DAY|  male|    Married|         US Citizen|             No|American Indian o...|   8/18/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    56.0|   John Smith|Pay Per Click - G...|         Fully Meets|John|    Sales|   1988-01-09|
|      Fraval, Maruk |     1411071302|   CT| 6050.0| 8/28/1963|INTERVAL '22261' DAY|  male|     Single|         US Citizen|             No|Black or African ...|    9/6/2011|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|         Monster.com|         Fully Meets|John|    Sales|   1963-01-08|
|     Friedman, Gerry|     1204032843|   NY|10171.0| 2/24/1969|INTERVAL '20075' DAY|  male|     Single|         US Citizen|            Yes|   Two or more races|    3/7/2011|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.5|   John Smith|  Diversity Job Fair|         Fully Meets|John|    Sales|   1969-01-02|
|     Gill, Whitney  |     1302053046|   OH|43050.0| 7/10/1971|INTERVAL '19340' DAY|female|    widowed|         US Citizen|             No|Black or African ...|    7/7/2014|           9/5/2015|          attendance|Terminated for Cause|     Sales|Area Sales Manager|    55.0|   John Smith|         Monster.com|         Fully Meets|John|    Sales|   1971-01-07|
|      Givens, Myriam|     1203032099|   IN|46204.0| 9/22/1989|INTERVAL '12763' DAY|female|     Single|         US Citizen|             No|               White|   2/16/2015|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|Pay Per Click - G...|        90-day meets|John|    Sales|   1989-01-09|
|   Gonzales, Ricardo|     1411071481|   ID|83706.0|10/12/1954|INTERVAL '25546' DAY|  male|    Married|         US Citizen|             No|               White|   5/12/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.5|   John Smith|         Monster.com|         Fully Meets|John|    Sales|   1954-01-10|
|     Guilianno, Mike|     1001167253|   TN|37129.0|  2/9/1969|INTERVAL '20075' DAY|  male|     Single|         US Citizen|             No|   Two or more races|    3/7/2011|         10/31/2014|relocation out of...|Voluntarily Termi...|     Sales|Area Sales Manager|    55.0|   John Smith|  Newspager/Magazine|         Fully Meets|John|    Sales|   1969-01-02|
|       Jeremy Prater|     1001084890|   NV|89139.0|  5/9/1974|INTERVAL '18246' DAY|  male|    Married|         US Citizen|             No|               White|   5/12/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    56.0|Lynn Daneault|  Website Banner Ads|                 PIP|John|    Sales|   1974-01-05|
|Khemmich, Barthol...|     1104025008|   CO|80820.0|11/27/1979|INTERVAL '16414' DAY|  male|     Single|         US Citizen|             No|               White|   8/19/2013|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|Pay Per Click - G...|         Fully Meets|John|    Sales|   1979-01-11|
|    Leruth, Giovanni|     1412071660|   UT|84111.0|12/27/1988|INTERVAL '13126' DAY|  male|  Separated|         US Citizen|             No|Black or African ...|   4/30/2012|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|   John Smith|  Website Banner Ads|         Fully Meets|John|    Sales|   1988-01-12|
|     Martins, Joseph|     1209048771|   TX|78207.0| 6/11/1970|INTERVAL '19706' DAY|  male|     Single|Eligible NonCitizen|             No|Black or African ...|   5/14/2012|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    56.0|Lynn Daneault|   Employee Referral|         Fully Meets|John|    Sales|   1970-01-06|
|       McKinzie, Jac|     1209049326|   TX|78789.0|  7/1/1984|INTERVAL '14592' DAY|  male|    Married|         US Citizen|             No|   Two or more races|    7/6/2016|               NULL|N/A - Has not sta...|        Future Start|     Sales|Area Sales Manager|    55.0|Lynn Daneault|  Website Banner Ads|N/A- too early to...|John|    Sales|   1984-01-07|
|    Mullaney, Howard|     1306057978|   AL|36006.0| 11/2/1975|INTERVAL '17875' DAY|  male|     Single|         US Citizen|             No|   Two or more races|   9/29/2014|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|   John Smith|     Internet Search|   Needs Improvement|John|    Sales|   1975-01-11|
|      Nguyen, Dheepa|     1111030684|   GA|30428.0| 3/31/1989|INTERVAL '12769' DAY|female|     Single|         US Citizen|             No|   Two or more races|    7/8/2013|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    55.0|Lynn Daneault|Pay Per Click - G...|         Fully Meets|John|    Sales|   1989-01-03|
|      Onque, Jasmine|     1501072180|   FL|33174.0| 5/11/1990|INTERVAL '12402' DAY|female|     Single|         US Citizen|            Yes|               White|   9/30/2013|               NULL|N/A - still employed|              Active|     Sales|Area Sales Manager|    57.0|Lynn Daneault|Pay Per Click - G...|         Fully Meets|John|    Sales|   1990-01-05|
+--------------------+---------------+-----+-------+----------+--------------------+------+-----------+-------------------+---------------+--------------------+------------+-------------------+--------------------+--------------------+----------+------------------+--------+-------------+--------------------+--------------------+----+---------+-------------+
only showing top 20 rows